<canvas id="attrChart" width="350" height="350"></canvas>

<script>
    var attr_labels = {{ attr_rating_labels|safe }};
    var attr_values = {{ attr_rating_values|safe }};

    var ctx = document.getElementById('attrChart').getContext('2d');
    var polarAreaChart = new Chart(ctx, {
        type: 'polarArea',
        data: {
            datasets: [{
                labels: attr_labels,
                data: attr_values,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.5)',
                    'rgba(54, 162, 235, 0.5)',
                    'rgba(255, 206, 86, 0.5)',
                    'rgba(75, 192, 192, 0.5)',
                    'rgba(153, 102, 255, 0.5)',
                ],
                borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                ],
                borderWidth: 3
            }]
        },
        options: {
            plugins: {
                datalabels: {
                    display: true,
                },
                tooltip: {
                    callbacks: {
                        label: function(context) {
                            var label = context.chart.data.datasets[0].labels[context.dataIndex];
                            var value = context.chart.data.datasets[0].data[context.dataIndex];
                            return label + ': ' + value;
                        }
                    }
                },
            },
            scales: {
                r: {
                    min: 0,
                    max: 3,
                    grid: {
                        color: 'rgba(234, 57, 184, 0.1)'
                    },
                    ticks: {
                        display: false,
                        stepSize: 1
                    }
                }
            },
            elements: {
                  line: {
                    borderWidth: 3
                  }
            }
        }
    });
</script>