{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1 class="mt-5">Champions</h1>
    <div class="d-flex mt-3">
        <input class="form-control form-control-lg" type="text" placeholder="Search for a champion" id="inputLarge">
        <button type="submit" class="btn btn-secondary">Submit</button>
    </div>
     <div class="mt-5 d-flex gap-5 flex-wrap justify-content-between">
        <div role="button" class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>

         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
         <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title">Champion image</h4>
            </div>
            <div class="card-header">Champion name</div>
        </div>
    </div>
</div>
{% endblock %}